@model Producer

<div class="card" style="width:20rem;margin:20px 550px 24px 550px">
	<img class="card-img-top" src="@Model.ProfilePictureUrl" alt="image" style="width:100%">
	<div class="card-body">
		<h3 class="card-title">@Model.FullName</h3>
		<p class="card-text">@Model.Bio</p>
		<a class="btn btn-danger"
		   asp-action="Delete"
		   asp-controller="Actor"
		   asp-route-id="@Model.Id"
	 onclick="ConfirmDelete()">Delete</a>
	</div>
</div>

<script>
	function ConfirmDelete() {
		document.getElementById("");
		var accept = confirm("Are You Sure?");
		if (accept == false) {
			event.preventDefault();
		}
	}
</script>