@model PaymentCard

<section class="p-4 p-md-5" 
@*style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/background3.webp);"*@>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
            <div class="card rounded-3">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <h3>Settings</h3>
                        <h6>Payment</h6>
                    </div>
                    <form asp-action="Payment">
                        <img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                        <img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" />
                        <p class="fw-bold mb-4 pb-2">Saved cards:</p>

                        <div class="d-flex flex-row align-items-center mb-4 pb-1">
                            <div class="flex-fill mx-1">
                                <div class="form-outline">
                                    <label asp-for="CardNumber" class="control-label"></label>
                                    <input type="text" class="form-control "
                                           asp-for="CardNumber" placeholder="**** **** **** ****" />
                                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <a href="#!">Remove card</a>
                        </div>
                        <div class="row mb-4">
                            <div class="col-5">
                                <div class="form-outline">
                                    <label asp-for="ExpiredDate" class="control-label"></label>
                                    <input type="text" class="form-control "
                                           asp-for="ExpiredDate" placeholder="MM/YYYY" />
                                    <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="form-outline">
                                    <label asp-for="Cvv" class="control-label"></label>
                                    <input type="password" class="form-control"
                                           asp-for="Cvv" placeholder="Cvv" />
                                    <span asp-validation-for="Cvv" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-success btn-lg btn-block">Pay Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>