@model CinemaTickets.Data.ViewModelData.NewMovieViewModel
@using CinemaTickets.Data.ViewModelData
@using CinemaTickets.Data.Enums
@{
	ViewData["Title"] = "Add a new movie";
}

<div class="row text">
	<div class="col-md-8 offset-2">
		<p>
			<h4>Add New Movie</h4>
		</p>
		<div class="row">
			<div class="col-md-8 offset-2">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TimeDate.StartTime" class="control-label"></label>
                                <input asp-for="TimeDate.StartTime" type="date" class="form-control" />
                                <span asp-validation-for="TimeDate.StartTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TimeDate.EndTime" class="control-label"></label>
                                <input asp-for="TimeDate.EndTime" type="date" class="form-control" />
                                <span asp-validation-for="TimeDate.EndTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageUrl" class="control-label"></label>
                                <input asp-for="ImageUrl" class="form-control" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CinemaId" class="control-label"></label>
                                <select asp-for="CinemaId" class="form-control" asp-items="ViewBag.Cinema">
                                    <option value="NoSelected">--Please Select Cinema--</option>
                                </select> 
                                <span asp-validation-for="CinemaId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MoviesCategory" class="control-label"></label>
                                <select asp-for="MoviesCategory" class="form-control" asp-items="Html.GetEnumSelectList<MoviesCategory>()">
                                    <option value="NoSelected">--Please Select Category--</option>
                                </select>
                                <span asp-validation-for="MoviesCategory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProducerId" class="control-label"></label>
                                <select asp-for="ProducerId" class="form-control" asp-items="ViewBag.Producer">
                                    <option value="NoSelected">--Please Select Producer--</option>
                                </select>
                                <span asp-validation-for="ProducerId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActorId" class="control-label"></label>
                            <select asp-for="ActorId" class="form-control" asp-items="ViewBag.Actor" multiple>
                                <option value="NoSelected">--Please Select Actors--</option>
                            </select>
                            <span asp-validation-for="ActorId" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts{
    <script>
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
    </script>
}